body{
	margin: 0;
	background-color: gray;
	font-family: 'Bree Serif', serif;
	/*font-size: 30px;*/
}

.main{
	display: flex;
	flex-direction:row;
	background-color: #bd21078c;
}

h1{
	margin: 30px;
}

img{
	height: 103px;
	width: 100px;
}